# LaTeX — fichiers générés
*.pdf
*.log
*.aux
*.out
*.toc
*.synctex.gz
*.xdv
*.fls
*.fdb_latexmk
*.pyc

# Dossiers temporaires
_build/
output/

# Logs LaTeX générés (ne pas versionner)
media/latex_logs/**/*.tex

# Artefacts générés (media)
media/*
!media/.gitkeep
